@media(max-width: 1844px){

    .img-container-film1{
        height: 85%;
    }


    .card-for-film1{
        font-size: 14px;
        height: 519px;

    }

    button{
        padding: 8px;
    }

    .info_bottom_cinema{
        font-size: 14px;
    }
}
