body{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;

}

.phone{
  display: flex;
}

.logo{
    font-size: 64px;
    text-shadow: 0px 0px 10px #eee;
    color: #f8ff9c;
    font-weight: bold;
}

.header-line{
    padding-top: 63px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #E3FF3A;
    border-radius: 15px;
    justify-content: space-around;
    
}

button{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 23px;
    background-color: #EDF8AC;
    padding: 11px 38px;
    border-radius: 18px;
}

.nav-item{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 23px;
    background-color: #EDF8AC;
    padding: 11px 38px;
    border-radius: 18px;
}

.body-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 400px;
}

#films{
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 55px;
    justify-content: space-between;
    align-items: center;
    
}

.today{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #eee;
    color: #ebfc00;
}

.card-for-film1{
    margin-top: 20px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-right: 799px;
    display: flex;
    background-image: url(./img/ahahaha.jpg);
    border-radius: 62px;
    padding: 10px 15px;
}
.text-for-film{
    margin-left: 20px;
}

.time-for-film1{
    margin-top: 30px;
    margin-left: 50px;
}

.img-container{
    width: 100%;
    margin-top: 10px;
}
.img-container-film1{
    border-radius: 30px;
}

.trailer{
  width: 100%;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #205a5c;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .seat-map button {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #000;
  }
  
  .seat-map button.selected {
    background-color: green;
  }
  
  #find_tiket{
    padding-top: 10px;
    margin-left: 100px;


  }













.wrapper {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}

.container1 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.container1:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

#i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

span {
  
  top: 0%;
  border-radius: 100%;
  z-index: 10;
}


.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

#s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

.info {
  position: absolute;
  top: 10%;
}

.text_in_story{
    font-size: 10px;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #ebfc00;
  letter-spacing: 2px;
}

h4 {
  color: #f7f446;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

h1 {
  color: #f7f446;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}

p {
  font-size: 12px;
  color: #f7f446;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.page {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

li {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}

li:nth-child(1) {
  left: 15%;
  animation: simple1 1s linear infinite;
}

li:nth-child(2) {
  right: 15%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

#info_Cinema{
    margin-top: 15px;
}

.img111{
    height: 100vh;
}

.podval{
  background: rgba(0,0,0,0.5);
    padding: 30px 0px;
    color: #fff;
    text-align: center;
    margin-left: -114px;
    margin-right: -6px;
    margin-bottom: -10px;
}

#ticketNumberInput{
  background-color: rgb(233, 248, 148, 0.4);
  width: 100%;
  border: 3px solid #b0b303;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  border-radius: 45px;
  margin-top: 14px;
  margin-right: 5px;
}
